:root {
  --new-black: #222831;
  --dark-gray: #393e46;
  --teal: #00adb5;
  --light-gray: #eeeeee;
}

div.card-details {
  padding: 10px 20px;
  width: 100%;
  max-width: 900px;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%) scale(0);

  opacity: 0;

  transition: all 0.5s;
}

div.card-details div.wrapper {
  width: 100%;
  border-radius: 15px;

  overflow: hidden;

  position: relative;
  max-height: 95vh;
}

div.card-details div.wrapper div.error-dark-screen {
  width: 100%;
  height: 100%;
  background-color: var(--new-black);
  opacity: 0.5;

  position: absolute;
  top: 0;
  left: 0;
}

div.card-details div.wrapper div.product-img {
  display: none;

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

div.card-details div.details-text {
  overflow-y: auto;
  max-height: 95vh;

  padding: 15px;
  border-radius: 15px;

  background-color: var(--light-gray);
}

div.card-details div.details-text::-webkit-scrollbar {
  width: 10px;
}

div.card-details div.details-text::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}

div.card-details div.details-text::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: transparent;
}

div.card-details div.details-text h2 {
  margin-top: 35px;

  font-weight: 400;
  font-size: 2rem;
  color: var(--new-black);
  word-wrap: break-word;
}

div.card-details div.details-text > div {
  margin-top: 20px;
}

div.card-details div.details-text > div h3 {
  color: var(--teal);
  font-weight: 400;
  word-break: break-all;
}

div.card-details div.details-text > div p {
  color: var(--new-black);
  word-break: break-all;
}

div.card-details div.wrapper div.close-card {
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 0;
  font-size: 1.2rem;
  color: var(--light-gray);

  background-color: var(--teal);
  width: 40px;
  height: 40px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 15px;

  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: translate(-100%, 100%);
  z-index: 3;

  cursor: pointer;
}

div.card-details div.wrapper div.close-card svg {
  transition: transform 0.5s;
}

div.card-details div.wrapper div.close-card:hover svg {
  transform: rotate(180deg);
}

div.card-details div.wrapper div.details-text a.more-details-button {
  display: block;

  color: var(--light-gray);
  text-align: center;
  text-decoration: none;

  width: 100%;
  max-width: 300px;
  padding: 15px 10px;
  margin: 0 auto;
  margin-top: 40px;

  background-color: var(--teal);
  border-radius: 15px;

  user-select: none;
  cursor: pointer;

  transition: all 0.5s;
}

div.card-details div.wrapper div.details-text a.more-details-button:hover {
  color: var(--light-gray);
  background-color: var(--new-black);
}

div.error-details-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background-color: rgb(211, 0, 0);
  padding: 10px;
  border-radius: 10px;

  color: var(--light-gray);
  text-align: center;
}

/* Others */
@keyframes kelap-kelip-info {
  to {
    opacity: 1;
  }
}

h2.info-loading {
  animation-name: kelap-kelip-info;
  animation-duration: 0.4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

  opacity: 0.5;
}

p.info-loading {
  animation-name: kelap-kelip-info;
  animation-duration: 0.4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

  opacity: 0.5;
}

div.card-details.card-muncul {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body.hidden {
  overflow: hidden;
}

/* .blur {
    transition: filter 0.5s;
} */

.blur-muncul {
  filter: blur(2px);
}

div.dark-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.9);

  display: none;
  z-index: 101;
}

div.dark-bg.gelap-muncul {
  display: block;
}

@media all and (min-width: 320px) {
  div.card-details div.wrapper div.close-card {
    width: 55px;
    height: 55px;
    font-size: 1.4rem;
  }

  div.card-details div.details-text h2 {
    margin-top: 50px;
  }
}

@media all and (min-width: 390px) {
  div.card-details div.details-text h2 {
    font-size: 2.3rem;
  }

  div.card-details div.details-text > div h3 {
    font-size: 1.4rem;
  }

  div.card-details div.details-text > div p {
    font-size: 1.1rem;
  }
}

@media all and (min-width: 540px) {
  div.card-details {
    padding: 0 40px;
  }

  div.card-details div.details-text {
    padding: 30px;
  }

  div.card-details div.details-text h2 {
    margin-top: 35px;
  }
}

@media all and (min-width: 768px) {
  div.card-details div.wrapper div.product-img {
    display: block;
  }

  div.card-details div.wrapper {
    display: flex;
    align-items: center;

    height: 600px;
    padding: 0;
  }

  div.card-details div.wrapper div.product-img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;

    background-color: var(--teal);
    padding: 30px;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  div.card-details div.wrapper div.product-img img {
    width: 100%;
    border-radius: 30px;
  }

  @keyframes kelap-kelip-image {
    to {
      opacity: 0.7;
    }
  }

  div.card-details div.wrapper div.product-img div.image-loading {
    animation-name: kelap-kelip-image;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: var(--dark-gray);
    opacity: 0.2;
  }

  div.card-details div.wrapper div.close-card {
    width: 65px;
    height: 65px;
    font-size: 1.8rem;
  }

  div.card-details div.details-text {
    width: 50%;
    height: 100%;

    background-color: var(--light-gray);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  div.card-details div.wrapper div.details-text a.more-details-button {
    font-size: 1.2rem;
  }
}

@media (orientation: landscape) and (max-height: 600px) {
  div.card-details {
    padding: 10px;
    height: 100vh;
  }

  div.card-details div.wrapper {
    height: 100%;
  }

  div.card-details div.wrapper div.product-img {
    height: 100%;
  }

  div.card-details div.wrapper div.product-img img {
    width: auto;
    height: 100%;
    border-radius: 20px;
  }

  div.card-details div.wrapper div.product-img div.image-loading {
    border-radius: 20px;
  }

  div.card-details div.details-text {
    height: 100%;
    padding: 30px;
  }
}

@media (orientation: landscape) and (max-height: 350px) {
  div.card-details div.wrapper div.product-img img {
    border-radius: 10px;
  }

  div.card-details div.wrapper div.product-img div.image-loading {
    border-radius: 10px;
  }
}

@media all and (max-width: 200px) {
  div.error-details-card {
    font-size: 0.7rem;
  }
}
